* {
  box-sizing: border-box;
}
.container {
  padding-bottom: 15px;
  width: 300px;
  box-shadow: 2px 2px 4px rgba(175, 175, 175, 0.7);
  background-color: #f2f2f2;
}
.main {
  height: calc(100vh - 80px - 75px - 126px - 88px);
  overflow: auto;
}
.main::-moz-webkit-scrollbar {
  width: 7px;
  -webkit-appearance: none;
}
.main::-moz-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c3c3c3;
}
.dec {
  margin: 14px 0 0 17px;
  width: 161px;
  height: 60px;
}
.separator {
  width: 300px;
  height: 1px;
  border: 2px solid #cccccc;
}
.titles {
  color: #3d4975;
  font-family: 'Myriad Pro';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 15px 0 0 26px;
  text-decoration: none;
}
.subtitles {
  color: #212121;
  font-family: 'Myriad Pro';
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 9px 0 0 46px;
}
.titles:hover {
  margin: 0;
  width: 259px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.titles:focus {
  margin: 0;
  width: 259px;
  border-radius: 10px;
  background-color: red;
}
.subtitles:hover {
  margin: 0;
  width: 239px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.button {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.hovertitles:hover {
  margin: 15px 0 0 14px;
  border-left: 1px solid #00c08b;
  padding: 0 0 0 11px;
}
.hoversubtitles:hover {
  margin: 9px 0 0 34px;
  border-left: 1px solid #00c08b;
  padding: 0 0 0 11px;
}
.link {
  text-decoration: none;
}
.link:active {
}

.titlesC {
  color: #3d4975;
  font-family: 'Myriad Pro';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 5px 0 0 26px;
  text-decoration: none;
}
.titlesC:hover {
  margin: 0;
  width: 259px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.hovertitlesC:hover {
  margin: 5px 0 0 14px;
  border-left: 1px solid #00c08b;
  padding: 0 0 0 11px;
}
