.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 487px;
  height: 986px;
  box-shadow: 4px 4px 4px rgba(166, 166, 166, 0.7);
  border-radius: 8px;
  background-color: #f2f2f2;
}
.p {
  margin-left: 47px;
  width: 159px;
  height: 19px;
  color: #3d4975;
  font-family: 'Myriad Pro';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.6px;
  text-align: left;
}
