@import '../styles/typography.css';

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  flex-flow: column wrap;
  flex-wrap: wrap;
}

.p {
  grid-column: 1 / span 2;
  margin: 37px 0 0 0;
  color: #3d4975;
  font-family: 'Myriad Pro';
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.6px;
  text-align: left;
}
.div {
  width: 267px;
  height: 99px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #fdfdfd;
  margin: 32px 0 0px 37px;
}
.div:hover {
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.16);
}

.dec {
  margin: 19px 0 0 48px;
  width: 171px;
  height: 65px;
}
.easy {
  margin: 14px 0 0 18px;
  width: 231px;
  height: 70px;
}
